@using Newtonsoft.Json
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ApiService ApiService
@inject AuthenticationStateProvider AuthStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <a style="color: seagreen; font: bold; font-family: Arial" href="/Logowanie">Zaloguj się</a>
                    <a style="font: bold; font-family: Arial" href="/Rejestracja">Załóż konto</a>
                </NotAuthorized>

                <Authorized>
                    <a style="color: seagreen; font: bold; font-family: Arial" href="/invoice/">Dodaj tankowanie</a>
                    <a style="font: bold; font-family: Arial" href="/Profile">Profil</a>
                    <a style="color: red; font: bold; font-family: Arial" @onclick="Logout" href="/">Wyloguj</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code
{
    protected override async Task OnInitializedAsync()
    {
        // var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var authState = await ApiService.GetAsync<AuthenticationState>("/AuthState");
    }

    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        customAuthStateProvider.UpdateAuthenticationState(string.Empty);
    }
}
