@inject ApiService ApiService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

@page "/Logowanie"
@using Newtonsoft.Json

<PageTitle>Logowanie</PageTitle>

<div class="row">
    <div class="col-lg-6 offset-lg-2 pt-4 pb-4  border">
        <EditForm Model="User" OnValidSubmit="HandleSubmit" FormName="LoginForm">
            <h3>Logowanie</h3>
            <DataAnnotationsValidator />
            <div class="mb-3">
                <label for="login">Nazwa użytkownika:</label>
                <InputText id="login" @bind-Value="User.UserName" class="form-control" />
                <ValidationMessage For="() => User.UserName"></ValidationMessage>
            </div>
            <div class ="mb-3">
                <label for="password">Hasło:</label>
                <InputText type="password" id="password" @bind-Value="User.Password" class="form-control" />
                <ValidationMessage For="() => User.Password"></ValidationMessage>
            </div>
            <button type="submit" class="mb-3 btn btn-primary">Logowanie</button>
        </EditForm>
    </div>
</div>

@code {
    public LoginDto User = new LoginDto();
    public int? Id { get; set; }

    async Task HandleSubmit()
    {
        await ApiService.PostAsJsonAsyncHttpResponse<LoginDto>("/UserLogin", User).ContinueWith(async x =>
        {
            if (x.Result.IsSuccessStatusCode)
            {
                var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
                string response = await x.Result.Content.ReadAsStringAsync();
                var loginResponse = JsonConvert.DeserializeObject<NewUserDTO>(response);
                customAuthStateProvider.UpdateAuthenticationState(loginResponse?.Token);
                NavigationManager.NavigateTo("/", forceLoad: true);
            }
            else
            {
                // todo: komunikaty
            }
        });
    }
}
