@using FuelChampion.Api.Models
@using FuelChampion.WebUI.Server.Services
@inject ApiService ApiService
@page "/"


<PageTitle>Strona domowa</PageTitle>

<ul>
    @if (data == null)
    {
        <li>Ładowanie...</li>
    }
    else
    {
        @foreach (var item in data)
        {
            <li>@item.Name</li>
        }
    }
</ul>


@code {
    private List<GasStation>? data;
    
    protected override async Task OnInitializedAsync()
    {
        data = await ApiService.GetAsync<List<GasStation>>("GasStation");
    }
}