@inject ApiService ApiService
@page "/"
@using FuelChampion.Api.Models.Gas
@using FuelChampion.WebUI.Server.Services


<PageTitle>Strona domowa</PageTitle>

<ul>
    @if (data == null)
    {
        <li>Ładowanie...</li>
    }
    else
    {
        @foreach (var item in data)
        {
            <li>@item.Voivodeship</li>
        }
    }
</ul>


@code {
    private List<GasStationAvgVoivodeshipPrice>? data;

    protected override async Task OnInitializedAsync()
    {
        data = await ApiService.GetAsync<List<GasStationAvgVoivodeshipPrice>>("GasStation/avg");
    }
}